{% load static %} {% load crispy_forms_tags %} 

{% block cssfiles %}
<link rel="stylesheet" href="{% static './styles.css' %}">
{% endblock cssfiles %}

{% block content %}
<br>
<div class="reset-container">
    <div class="card-body">
        <h5 class="card-title"><b>Request Password Reset</b></h5>
        <div class="form">
            <form class="form-signin" method="POST">
                {% csrf_token %} 
                {{ form|crispy }}
                <button class="btn-1" type="submit">
                Request password reset</button>
                <br> <br/>
            </form>
        </div>
    </div>
</div>

{% endblock content %}