{% load static %} {% load crispy_forms_tags %} 

{% block cssfiles %}
<link rel="stylesheet" href="{% static './styles.css' %}">
{% endblock cssfiles %}

{% block content %}
<br />
<div class="container">
    <div class="card-body rd">
        <h5 class="card-title reset-done-title">
            <b>An email has been sent with instructions to reset your password !</b>
        </h5>
        <form class="form-signin rdd" method="POST">
            <a class= 'btn-1' href="https://mail.google.com/mail/u/0/" target="_blank">
            <b>Open Gmail</b></a>
        </form>
    </div>
</div>

{% endblock content %}