{% load static %} {% load crispy_forms_tags %} 

{% block cssfiles %} 
<link rel="stylesheet" href="{% static './styles.css' %}">
{% endblock cssfiles %} 

{% block content %}
<br>
<div class="conatiner">
    <div class="card-body rd">
        <h5 class="card-title text-center">
            <b>Your new password has been set !</b>
        </h5>
        <form class="form-signin rdd" method="POST">
            <a class="btn-1"
                href="{% url 'login' %}">
                Sign In Here
            </a>
        </form>
    </div>
</div>

{% endblock content %} {% block jsfiles %} {% endblock jsfiles %}